# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
*.egg
SHARE/
bin/

# Python testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Environments
.env
.venv
env/
venv/

# Editors
.vscode/
.idea/

# Logs and other temporary files
*.log
*.tmp