__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Editors
.vscode/
.idea/

# Logs and other temporary files
*.log
*.tmp